@tailwind base;
@tailwind components;
@tailwind utilities;

svg {
  vertical-align: inherit;
}

body {
  @apply text-sm antialiased;
}

.prose {
  @apply text-sm;
}

.remirror-theme {
  @apply flex flex-col flex-1;
}

.remirror-editor-wrapper {
  @apply flex flex-col flex-1;
}

.remirror-theme .ProseMirror {
  @apply shadow-none;
}

.remirror-theme .ProseMirror:focus {
  @apply shadow-none;
}

.ant-btn {
  @apply inline-flex items-center justify-center;
}

.ant-tabs-top > .ant-tabs-nav {
  @apply mb-0 bg-white;
}

.ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap {
  @apply px-4 pt-2;
}

.header-tabs > .ant-tabs-nav > .ant-tabs-nav-wrap {
  @apply px-0;
}

.remirror-floating-popover {
  z-index: 10;
}

.remirror-theme .ProseMirror:active {
  @apply shadow-none;
}

.vertical-checkbox > .ant-checkbox-group {
  @apply flex flex-col;
}

.vertical-checkbox
  > .ant-checkbox-group
  .ant-checkbox-wrapper
  + .ant-checkbox-wrapper {
  margin-inline-start: 0px;
}

.filter-collapse.ant-collapse-small
  > .ant-collapse-item
  > .ant-collapse-header {
  @apply p-0;
}

.filter-collapse.ant-collapse-ghost
  > .ant-collapse-item
  > .ant-collapse-content
  > .ant-collapse-content-box {
  @apply p-0;
}

.mention-editor > .remirror-theme > .remirror-editor-wrapper {
  @apply pt-0;
}
