@tailwind components;
@tailwind utilities;

svg {
  vertical-align: inherit;
}

body {
  @apply text-sm antialiased;
}

.prose {
  @apply text-sm;
}

.remirror-theme {
  @apply flex flex-col flex-1;
}

.remirror-editor-wrapper {
  @apply flex flex-col flex-1;
}

.remirror-theme .ProseMirror {
  @apply shadow-none;
}

.remirror-theme .ProseMirror:focus {
  @apply shadow-none;
}

.ant-btn {
  @apply inline-flex items-center justify-center;
}

.ant-tabs-top > .ant-tabs-nav {
  @apply mb-0 bg-white;
}

.ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap {
  @apply px-4 pt-2;
}

.header-tabs > .ant-tabs-nav > .ant-tabs-nav-wrap {
  @apply px-0;
}

/* .react-pdf__Page__canvas {
  margin: 0 auto;
  width: 80% !important;
  height: 100% !important;
} */

.remirror-floating-popover {
  z-index: 10;
}

.remirror-theme .ProseMirror:active {
  @apply shadow-none;
}
