@tailwind base;
@tailwind components;
@tailwind utilities;

svg {
  vertical-align: inherit;
}

.ant-btn {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.ant-btn svg {
  margin-right: 4px;
}
